body {
  margin: 0;
  padding: 70px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #051937, #23204c, #46225b, #6c1d62, #921060);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-box, .icon-box, .presentation-box {
  max-width: 90%;
  margin: 0 auto;
}

.info-box {
  margin-top: 10%; /* Ajuste conforme necessário */
  padding: 5%;
  border-radius: 4px;
}

.icon-box {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.icon-box a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.icon-box a:hover {
  color: #00bcd4;
}

.presentation-box {
  padding: 5%;
  border-radius: 4px;
  margin-top: 5%; /* Ajuste conforme necessário */
}

.presentation-box h3 {
  margin-bottom: 2%;
  font-size: 1.5em; /* Use unidades em ou vw para tamanhos de fontes responsivos */
}
