body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #051937, #23204c, #46225b, #6c1d62, #921060);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-box {
  background-color: transparent;
  padding: 20px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff;
}
