.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #051937, #23204c, #46225b, #6c1d62, #921060);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.scrolled {
  background-color: #333;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 24px;
  margin-left: 10px;
  color: #fff;
}
